{% extends 'main/layout.html' %}

{% block style %}
#nav_menu1 {
    color: #198754;
       }
{% endblock %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="about_background">
    <div class="about_content">
        <ul class="about_list">
            <li>Давно мечтаешь жить более экологично?</li>
            <li>Думаешь с чего начать?</li>
            <li>Уже сортируешь, но некогда и некуда сдать?</li>
            <li>Ищешь товары с экологичным составом?</li>
            <li>Хочешь, чтобы можно было приобрести экологичную бытовую химию в свою тару, не выходя из дома?</li>
        </ul>
        <br>

        Сервис, который поможет жить экологично.
        С нами жить экологично - легко.
        <br>
        Освободим ваше время:
        <ul class="about_list">
            <li>На сортировку и отправку на переработку.</li>
            <li>На поиск и покупку экотоваров.</li>
        </ul>
        Жизнь в стиле эко.<br>

        Подписка, которая сделает за вас ....<br>

        Подпишись, чтобы получать экотовары местного производства с доставкой на дом.<br>
        (Позже: товары компаний, которые за устойчивое развитие)

        В нашей подписке набор для легкой экологичной жизни.<br>
        <br>
        Что мы делаем? В удобное для тебя время:
        <ul class="about_list">
            <li>Вывоз вторсырья</li>
            <li>Доставка экотоваров</li>
            <li>Помощь в организации места для сортировки у тебя дома</li>
        </ul>
        <br>
        А также:
        <ul class="about_list">
            <li>Контейнеры с набором стикеров</li>
            <li>Индивидуальные консультации</li>
            <li>Расхламление при переезде</li>
            <li>Помощь с экоремонтом</li>
            <li>Решение индивидуальных запросов (при наличии данной возможности)</li>
        </ul>
         <ul class="about_list">
            <li>Контейнеры с набором стикеров</li>
            <li>Индивидуальные консультации</li>
            <li>Расхламление при переезде</li>
            <li>Помощь с экоремонтом</li>
            <li>Решение индивидуальных запросов (при наличии данной возможности)</li>
        </ul>
         <ul class="about_list">
            <li>Контейнеры с набором стикеров</li>
            <li>Индивидуальные консультации</li>
            <li>Расхламление при переезде</li>
            <li>Помощь с экоремонтом</li>
            <li>Решение индивидуальных запросов (при наличии данной возможности)</li>
        </ul>
         <ul class="about_list">
            <li>Контейнеры с набором стикеров</li>
            <li>Индивидуальные консультации</li>
            <li>Расхламление при переезде</li>
            <li>Помощь с экоремонтом</li>
            <li>Решение индивидуальных запросов (при наличии данной возможности)</li>
        </ul>
         <ul class="about_list">
            <li>Контейнеры с набором стикеров</li>
            <li>Индивидуальные консультации</li>
            <li>Расхламление при переезде</li>
            <li>Помощь с экоремонтом</li>
            <li>Решение индивидуальных запросов (при наличии данной возможности)</li>
        </ul>

    </div>
</div>
{% endblock %}








