{% extends 'main/layout.html' %}

{% block style %}
#contacts {
        background-color: #00BFFF;
       }
{% endblock %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="about-container">
        <br>
        <b style="font-size: 20px; color: #088256;" align="center">Контакты:</b>
        <br><br>
        <b style="font-size: 22px; font-family: 'TT Norms Light';">Почта для коммерческих предложений:</b><br>
        <b style="font-size: 22px; font-family: 'TT Norms Light';">Тел:</b><br>
        <b style="font-size: 22px; font-family: 'TT Norms Light';">Почта:</b><br>
        <b style="font-size: 22px; font-family: 'TT Norms Light';">Адрес:</b><br>
        <b style="font-size: 22px; font-family: 'TT Norms Light';">Режим работы: 10:00 - 18:00 с пн-пт</b><br>
        <br><br><br><br><br><br><br><br>
    </div>
{% endblock %}