{% extends 'main/layout.html' %}

{% block style %}
#contacts {
        background-color: #00BFFF;
       }
{% endblock %}

{% block title %}Доставка и оплата{% endblock %}

{% block content %}
    <div class="about-container">
        <br>
        <b style="font-size: 25px; color: #088256;">Доставка:</b>
        <br><br>
        <b style="font-size: 18px; font-weight: lighter;">- курьерская доставка до двери по Москве</b><c style="font-size: 18px; font-family: 'TT Norms Light';"> — 350 руб.</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Бесплатно при сумме заказа от 2000 руб.</c><br><br>
        <b style="font-size: 18px; font-weight: lighter;">- курьерская доставка Почтой России до отделения по России</b><c style="font-size: 18px; font-family: 'TT Norms Light';"> — стоимость рассчитывается в корзине</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Бесплатно при сумме заказа от 2000 руб.</c><br><br>
        <b style="font-size: 18px; font-weight: lighter;">- доставка Почтой России до отделения по России</b><c style="font-size: 18px; font-family: 'TT Norms Light';"> — стоимость рассчитывается в корзине</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Бесплатно при сумме заказа от 1800 руб.</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Чтобы узнать точную стоимость, при оформлении введите населенный пункт,
          куда планируется доставка, а также детали почтового адреса — улица, дом и т.д.</c><br><br>
        <b style="font-size: 18px; font-weight: lighter;">- доставка до пункта выдачи/постамата PickPoint</b><c style="font-size: 18px; font-family: 'TT Norms Light';"> — 150 руб.</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Бесплатно при сумме заказа от 1500 руб.</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Список пунктов выдачи заказов можно посмотреть на сайте PickPoint</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Адрес пункта выдачи необходимо указать в примечании к заказу в корзине</c><br><br>
        <b style="font-size: 18px; font-weight: lighter;">- самовывоз в Москве</b><c style="font-size: 18px; font-family: 'TT Norms Light';"> — бесплатно</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">После оформления заказа мы свяжемся с вами для уточнения даты и времени.</c><br><br>
        <br><br>
        <b style="font-size: 25px; color: #088256;">Оплата:</b>
        <br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">- безналичный расчет банковской картой на сайте</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">Оплата происходит через безопасную платежную систему РобоКасса</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">После нажатия кнопки "Оформить заказ" вы будете перенаправлены на платежный шлюз,
          где можно будет произвести оплату банковской картой платежных систем Visa, MasterCard, МИР, а так же с помощью Apple Pay, Google Pay и
          Samsung Pay, подключенных к банковскимм картам вышеперечисленных платежных систем</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">На странице оплаты необходим указать актуальный адрес электронной почты, на который придет квитанция об оплате</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">В случае успешного оформления и оплаты заказа на указанную вами электронную почту придет письмо с подтверждением и деталями заказа, а отдельным письмом — квитанция об оплате</c><br><br>
        <c style="font-size: 18px; font-family: 'TT Norms Light';">- наличный расчет возможен только при самовывозе в Москве или доставке курьером</c><br><br>
        <br><br><br>
    </div>
{% endblock %}